extend layout

block content
	h1= title
	input.num(type='text', value='10')
	button Go
	div.flowers
		div.flower
			div.center
			div.tl
			div.tr
			div.bl
			div.br
	script(type='text/javascript')
		$(document).ready(function(){
			main.initExample1()
		})