extends layout

block content
	div.jumbotron
		div.innertron
			h1= title
			p 
				em "The Deferred object, introduced in jQuery 1.5, is a chainable utility object created by calling the jQuery.Deferred() method. It can register multiple callbacks into callback queues, invoke callback queues, and relay the success or failure state of any synchronous or asynchronous function." - jQuery
	div.container
		div.hero-unit
			ul
				li The Deferred pattern is a powerful efficient tool for the management of asynchronous processes.
				li They allow you to specify what will occur when a computation completes or fails. 
				li When should Deferred be used? When there's a need to manage the state of multiple asynchronous processes. Usually ajax requests or user interactions.