extends layout

block content
	div.jumbotron
		div.innertron
			h1 Notify and Progress

	div.container
		
		blockquote 
			p Progress towards a resolved state
			ul
				li notify - Call the progress handlers on a Deferred object with the given args.
				li progress - Add handlers to be called when the Deferred object generates progress notifications

		h2 Situation
		p 
			| Your company need a new issue tracking system that allows users to enter information about bugs and issue found on the site. To encourage them to fill out the entire form, you display a progress meter indicating how close they are to completion.
			| As they fill out the form, the progress meter should update and when they finish, you display a the submit button.
		div#zcode
			div.hero-unit
				<iframe width="100%" height="400" src="http://jsfiddle.net/TTUrQ/40/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>