extends layout

block content
	div.jumbotron
		div.innertron
			h1 Then and When

	div.container
		
		blockquote 
			ul
				li then - Add handlers to be called when the Deferred object is resolved, rejected, or still in progress.
				li when - Provides a way to execute callback functions based on one or more deferred objects.


		div#zcode
			div.hero-unit
				<iframe width="100%" height="400" src="http://jsfiddle.net/WnqN3/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

				<iframe width="100%" height="400" src="http://jsfiddle.net/JcF7x/1/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
				