extends layout

block content
	div.jumbotron
		div.innertron
			h1 What you already know

	div.container
		blockquote
			p Did you know Ajax uses Deferreds behind the scene?
		div#zcode
			div.hero-unit

				<iframe width="100%" height="250" src="http://jsfiddle.net/M4EPf/22/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

				<iframe width="100%" height="250" src="http://jsfiddle.net/M4EPf/21/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

				<iframe width="100%" height="300" src="http://jsfiddle.net/M4EPf/24/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>