body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#exContainer {
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}
.race-condiction .exItem span {
  display: inline-block;
  width: 200px;
}
#click-order,
#response {
  border: 1px solid #00f;
  margin: 10px;
  padding: 10px;
}
.flowers {
  border: 1px solid #000;
  height: 400px;
  position: relative;
}
.flower {
  background-color: #008000;
  -moz-transform: rotate(15deg);
  position: absolute;
  bottom: 0;
/*display: none*/
  height: 15px;
  width: 15px;
}
.flower div {
  width: 40%;
  height: 40%;
  margin: 1px;
  float: left;
}
.flower .center {
  width: 20%;
  height: 20%;
  background: -moz-radial-gradient(#c0ab16, #ff3, #1e90ff);
  position: absolute;
  top: 32%;
  left: 32%;
  border-radius: 50px;
}
.flower .tl {
  background: -moz-linear-gradient(-45deg, #a09bfb 40%, #dbe2fb 90%);
  border-radius: 30px 15px 0px 15px;
}
.flower .tr {
  background: -moz-linear-gradient(225deg, #a09bfb 40%, #dbe2fb 90%);
  border-radius: 15px 30px 15px 0px;
}
.flower .bl {
  background: -moz-linear-gradient(45deg, #a09bfb 40%, #dbe2fb 90%);
  border-radius: 15px 0px 15px 30px;
}
.flower .br {
  background: -moz-linear-gradient(135deg, #a09bfb 40%, #dbe2fb 90%);
  border-radius: 0px 15px 30px 15px;
}
